PORT=4000
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=super-secret-change-me
JWT_EXPIRES_IN=12h
DATABASE_URL="file:./prisma/dev.db"
DEFAULT_SUPERADMIN_USERNAME=superadmin
DEFAULT_SUPERADMIN_PASSWORD=Admin@123456
DEFAULT_SUPERADMIN_NAME=System Superadmin
